
<%= simple_form_for(question, html: { class: 'data-fields' }) do |f|  %>

<div class="columns two">
  <fieldset><%= f.input :title,label: false,collection:["Proceso de Foreclosure"], default: "Procesco de Foreclosure" %></fieldset>
  
  <fieldset>
  <%= f.text_field :phone,placeholder: "Ingrese su email" %>
  </fieldset>
  <span class="termslink">Yo estoy de acuerdo con los <a href="/terms">términos de servicio</a></span>
</div>
<div class="columns two p__relative">
  <%= f.text_area :description,placeholder:"Cual es su pregunta?" %> 
  <%= f.submit 'Enviar Pregunta'%>
</div>




<% end %>