	<div class="top">
				<div class="wrapper">
					<img src="images/icn/logo-bubble-grey.png" class="logo">
					<nav>
						<a href="#">Navigation</a>
						<a href="#">Navigation</a>
						<a href="#">Navigation</a>
					</nav>
				</div>
			</div>
			
			<div class="content internal">
				<section>
					<div class="wrapper">
						<h2 class="icnquest"><%= @question.title %></h2>
						<div class="question">
					  <%= @question.description %>
						</div>
 <% @answers.each do |answer| %>
						<div class="reply">
					  <%= simple_format answer.description %>
						</div>
						<div class="author">
							<div class="image">
								<%= image_tag answer.lawyer.lawyer_profile.image.small %>
							</div>
							<span><%= answer.lawyer.lawyer_profile.name %></span>
             <% end %>
						</div>
					</div>
				</section>
			</div><!-- CONTENT END-->
 
<% if lawyer_signed_in? && current_lawyer.validated %>

  <%= render partial: 'answers/form' %>
  <%= link_to "Lawyer Sign Out", destroy_lawyer_session_path, method: :delete %>
  <%= image_tag current_lawyer.lawyer_profile.image.small %>
  
<% end %>
