<div class='container'>
    <h2> <%= @question.title %></h2>
     <p> <%= @question.description %></p>
     
  <h3>Respuestas</h3>
  <br>
  <% @answers.each do |answer| %>

  <div class='well'> 
    <div class='row'><%= simple_format answer.description %></div>
    <br>
    <div class='row'><b><%= answer.lawyer.lawyer_profile.name %>, Esq.<b></div>
    <br>
    <div class='row'><%= image_tag answer.lawyer.lawyer_profile.image.small %></div>
  </div>
  <% end %>
  
  <% if lawyer_signed_in? && current_lawyer.validated %>

  <%= render partial: 'answers/form' %>
  <%= link_to "Lawyer Sign Out", destroy_lawyer_session_path, method: :delete %>
  <%= image_tag current_lawyer.lawyer_profile.image.small %>
  
  
   
  <% end %>
</div>