

<%= render partial: "layouts/navigation" %>
			<div class="content internal">
				<section>
					<div class="wrapper">
						<h2 class="icnquest"><%= @question.title %></h2>
						<div class="question">
					  <%= @question.description %>
						</div>
 <% @answers.each do |answer| %>
						<div class="reply">
              <% if answer.voice %>
              <div><%= answer.voice.html_safe %> </div>
              <% end %>
					  <%= simple_format answer.description %>
             
						</div>
						<div class="author">
							<div class="image">
								<%= image_tag answer.lawyer.lawyer_profile.image.small %>
							</div>
							<span><%= answer.lawyer.lawyer_profile.name %></span>
             <% end %>
						</div>
					</div>
				</section>
			</div><!-- CONTENT END-->
 
