<%= simple_form_for [@lawyer,@lawyerprofile], html: { class: 'form-horizontal' } do |f|  %>

<p>
  <%= f.label :name  %>
  <%= f.text_field :name, class: "form-control" %>
</p>
<p>
  <%= f.label :address  %>
  <%= f.text_field :address, class: "form-control" %>
</p>
<p>
  <%= f.input :state, collection:["New Jersey", "Pennsylvania","New York"], class: "form-control" %>
  
</p>
<p>
  <%= f.label :body  %>
  <%= f.text_field :body, class: "form-control" %>
</p>
<p>
  <%= f.label :license  %>
  <%= f.text_field :license, class: "form-control" %>
</p>
<p>
  
  <%= f.input :image, class: "form-control" %>
</p>

<p><%= f.submit %></p>

<% end %>