<%= render partial: "layouts/navigation" %>
<div class="content internal">
				<section>
					<div class="wrapper">
						
						<div class="profile-info">
							<div class="leftside">
								<div>
									<div class="image">
                    <img src="<%= @lawyerprofile.image %>" alt="">
									</div>
									<div class="text">
                    <span class="name"><%= @lawyerprofile.name %></span>
                    <span class="spec"><%= @lawyerprofile.practices %></span>
										<ul>
											<li><a href="#">Facebook</a></li>
											<li><a href="#">Twitter</a></li>
											<li><a href="#">Website</a></li>
										</ul>
									</div>
									<h3>Información de contacto</h3>
									<ul class="contact-info">
										<li><a href="mailto:diego.lafuente@abogadazo.com">diego.lafuente@abogadazo.com</a></li>
										<li>(+5) 456 432 323</li>
									</ul>
								</div>
							</div>
							<div class="rightside">
								<h3>Sobre Diego</h3>
                <p><%= @lawyerprofile.body %></p>
							</div>
							<div class="cntc-btn">
								<a href="#" class="button blue">Contactar</a>
							</div>
						</div>

					</div>
				</section>
			</div><!-- CONTENT END-->