
<div class ='content internal'>
<div class='container'>


<table class='table'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Firm name</th>
      <th>Firm address</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attorney_profiles.each do |attorney_profile| %>
      <tr>
        
        <td><%= attorney_profile.first_name %> <%= attorney_profile.middle_name %> <%= attorney_profile.last_name %> <%= attorney_profile.suffix %></td>
        <td><strong><%= attorney_profile.firm_name %></strong></td>
        <td><%= attorney_profile.firm_address %></td>
              
      
        <td><%= link_to 'Show', attorney_profile %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= paginate @attorney_profiles %>
  </div>
</div>