<div class='container'>
  <%= simple_form_for (@article) do |f| %>
  <%= f.input :image_body_field %>
  <%= f.input :title%>  
  <%= f.input :tag_list, input_html: {value: f.object.tag_list.to_s} %>
  <%= f.association :law_category %>

  <%= f.input :video_field%>
  <%= f.association :attorney, label_method: :self_label%>
   <div class="post-format-text">
     <div class="post-format-text">
      <%= f.trix_editor :body %> 
      </div>
   </div>
  <%= f.submit :class => ' btn btn-primary btn-block' %>
    <br>
  <%end%>
</div>
<% content_for :page_specific do %>
  <%= javascript_include_tag 'articles_new.js', defer: true %>
<% end %>

