

<div class="content internal">
				<section>
					<div class="wrapper w768">
						<h1></h1>
						<img src="" alt="">
						<p>Yo vivo en New Jersey. El perro de mi vecina le mordió a mi hija que tiene dos años . Mi vecina dice que le dijo a mi hija que se no acerque al perro. Yo pague mucho dinero en gastos médicos causados por la mordida de perro. Puedo yo hacer algo?</p>

						<p>Esto es una muy buena pregunta. <b>Muchos dueños de perros creen que porque le avisan alguien que no se acerquen al perro</b> (o que tengan cuidado con el perro) es suficiente para no tener responsabilidad cuando su perro muerda a una persona. En NJ, los dueños de perros son estrictamente responsables por los daños causados a una persona por las mordidas o ataques del perro.</p>

						<p>En otras palabras, NO importa legalmente que su vecina le haya dicho a su hija que no se acerque al perro. Usted tiene el derecho a que su vecina le pague todos los gastos médicos de su hija causados por la mordida del perro.</p>

						<p>Por esta razón como dueños de perro es muy importante que tengamos cuidado con nuestras mascotas. Muchas gracias. Tiene alguna otra pregunta? <a href="">Hágala en nuestro módulo de preguntas!</a>
						</p>

						<p>Atentamente, 
						Diego Lafuente 
						Abogado en NJ</p>

						<div class="about-author">
							<div class="image"></div>
							<div class="text">
								<span class="title">Sobre el autor</span>
								<span class="name">Diego Lafuente</span>
								<p>Diego Lafuente es un abogado en Nueva Jersey. Él es el fundador de Abogadazo y un graduado de la prestigiosa Escuela de Derecho de Columbia University en Nueva York. Cuenta con experiencia en casos de inmigración y ha trabajado como Extern de Legal Aid NY.</p>
							</div>
						</div>

					</div>
				</section>
			</div><!-- CONTENT END-->



























<style>
  @media screen and (max-width: 767px) {
    h1 {
       font-size:1.5em;
    }
}
  
</style>
<h1 class='well' align='center'><b><%= @article.title %></b></h1>
  
<div class='container'>
    <br>
    <% if @article.video %>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= @article.video_field %>"></iframe>
    </div>  
     <br>
     <br> 
    <% end %>
  <% if @article.image_body_boo %>
    <div class="row">
      <img  class='img-responsive col-md-8 col-md-offset-2' src="<%= @article.image_body_field %>">
      
    </div>
  
     <br>
     <br> 
    <% end %>
      <hr/>
  <!--<div class='row' align='center'>
      <h3><b>Tienes más preguntas? Pregúntanos, es gratis!</b></h3>
      <br>
      <a  type="button" class='btn btn-lg btn-info' href='/questions/new'>Haz Tu Pregunta</a>
     
    </div><!--question Tienes mas preguntas row -->
  
    
      <br>
     

        
      <%= simple_format @article.body %>
    <div class='row'>

    </div>
    <hr>
    
    <div class='row'>
        <div class='col-md-2 col-xs-4'>  
          
          <%= image_tag @article.image.author,  :class => "img-responsive" %>          
          
          
        </div>
        <div class='col-md-8 col-xs-8'>
            <div class='row'>
            <%= @article.author %>
             
            </div>
            <div class='row'>
               <%=@article.updated_at.strftime("%m/%d/%Y") %>
            </div>
            <div class='row'>            
              <b>Sobre el Autor</b>

            </div>
            
            <div class='row'>
              <%=@article.about %> 
        
            </div>
        
        </div>
  </div><!--about the author-->
  
   <div class='row' align='left'>
          <h4><b>Tienes más preguntas? Pregúntame, es gratis!</b></h4>
          
          <a  style='margin-bottom:10px'type="button" class='btn btn-sm btn-success' href='/questions/new'>Haz Tu Pregunta</a>

     </div><!--tienes mas preguntas and the author-->
  <div class='row'>
  <quote style='font-size:0.75em'> El contenido de la presente comunicación tiene por objetivo proporcionar información general sobre el tema presentado, y se ofrece con el entendimiento de que el autor no está prestando ningún servicio legal o profesional o de asesoramiento . Esta presentación no es un sustituto de asesoramiento legal.</quote>
  
  </div><!-- NJ warning -->

</div> <!--container-->

<br>