
<h1 class='well' align='center'><b><%= @article.title %></b></h1>
  
<div class='container'>
    <br>
    <% if @article.video %>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= @article.video_field %>"></iframe>
    </div>  
     <br>
     <br> 
    <% end %>
  <% if @article.image_body_boo %>
    <div class="row">
      <img  class='img-responsive col-md-8 col-md-offset-2' src="<%= @article.image_body_field %>">
      
    </div>
  
     <br>
     <br> 
    <% end %>
      <hr/>
  <div class='row' align='center'>
      <h3><b>Tienes más preguntas? Pregúntanos, es gratis!</b></h3>
      <br>
      <a  type="button" class='btn btn-lg btn-info' href='/questions/new'>Haz Tu Pregunta</a>
     
    </div><!--question Tienes mas preguntas row -->
  
    
      <br>
     

        <hr>
      <%= simple_format @article.body %>
    <div class='row'>

    </div>
    <hr>
    
    <div class='row'>
        <div class='col-md-2 col-xs-4'>  
          
          <%= image_tag @article.image.author,  :class => "img-responsive" %>          
          
          
        </div>
        <div class='col-md-8 col-xs-8'>
            <div class='row'>
            <%= @article.author %>
             
            </div>
            <div class='row'>
               <%=@article.updated_at.strftime("%m/%d/%Y") %>
            </div>
            <div class='row'>            
              <b>Sobre el Autor</b>

            </div>
            
            <div class='row'>
              <%=@article.about %> 
        
            </div>
        
        </div>
  </div><!--about the author-->
   <div class='row' align='left'>
          <h4><b>Tienes más preguntas? Pregúntame, es gratis!</b></h4>
          
          <a  type="button" class='btn btn-sm btn-success' href='/questions/new'>Haz Tu Pregunta</a>

     </div><!--tienes mas preguntas and the author-->
</div> <!--container-->

<br>