
<% if Rails.env.production? %>
  <% content_for :facebook_open do %>   

      <meta property="og:type"               content="article" />
      <meta property="og:title"              content= "<%= @article.title %>" />
      <meta property="og:description"        content= "<%= truncate(strip_tags(@article.body),length: 350)%>"/>
      <meta property="og:image"              content= "<%= @article.image_body_field %>" />
  <% end %>
<%  end %>


 <section class="fold-cta internal-header-post">
    <div class="wrapper">
      <h1><%= @article.title %></h1>
    </div>
  </section>

  <section class="post-content">
    <div class="wrapper">
      <div class="content-article">
        <article class="cropped">
            <%= image_tag @article.image_body_field %>
              <div class="author">
                <div class="photo">
                  <%= image_tag @article.attorney.profile_photo.url %>
                </div>
                  <div class="info">
                    <span class="name">Escrito por:<b> Abogado <%= @article.attorney.first_name + " " + @article.attorney.last_name %></b></span>
                    <span class="desc"><%=@article.attorney.description %></span>
                  </div>          
              </div>
              <br>
              <%=@article.updated_at.strftime("%m/%d/%Y") %>            
              <%= simple_format @article.body %>        
        </article>
        <div class="terms">
              <p><b>AVISO:</b> La información en esta página se pone a su disposición con fines educativos y con el propósito de prover información general. El contenido de esta página no es y no debe ser interpretado como asesoría legal.</p>
              <p><b>RECUERDE QUE CADA CASO ES DIFERENTE:</b> Usted debe consultar con un abogado sobre las circunstancias de su caso. Le invitamos a contactarnos para hablar sobre su caso.</p>
            </div>
        <div class="read-more-post">
          <a class="button blue more">Ver más</a>
          <a href="tel:" class="button blue transparent phone">Llámanos</a>
        </div>
      
        <div class="more-tags">
          <span>Tags:</span>
          
          <div class="tags">
          <% @article.tag_list.each do |tag| %>
            <a href="#"><%= tag %></a>
          <% end %>
          </div>
         
        </div>
      </div>
      <sidebar>
        <div class="module" style="margin-top: 20px;">
          <div class="social share">
            <div class="socials">
              <a href="#" class="fb"></a>
              <a href="#" class="tw"></a>
            </div>
            <span class="tag-contact-with-me">Compartir en:</span>
          </div>
        </div>
        <div class="module">
              <div class="where-be-us">
                <span class="title">Oficinas</span>
                <a href="#">
                  <span class="title">Newark, NJ</span>
                  <span class="data">550 Broad St.</span>
                  <span class="data">Piso 15</span>
                  <span class="data">973-440-8037</span>
                </a>
                <a href="#">
                  <span class="title">Clifton, NJ</span>
                  <span class="data">1550 Main Ave.</span>
                  <span class="data">973-440-8037</span>                  
                </a>
              </div>
            </div>
      
        <div class="module">
          <div class="related-post-sidebar">
            <span class="title">Artículos Relacionados</span>
            <% @related_articles.each do |article| %>
            <a href="<%=url_for article %>">
              <div class="post">
                <div class="image">

                  <img src="<%= article.image_body_field.url %>" alt="">
                </div>
                <span class="copy"><%= article.title %></span>
              </div>
            </a>
            <% end %>
            
            <div class="more-articles">
              <a href="/articles" class="readmore">Ver más articulos</a>
            </div>
          </div>
        </div>
          <div class="module">
          <div class="tell-history">
            <span class="title">Pregúntenos</span>
                <%= simple_form_for(@question, html: { class: 'data-fields' },remote: true) do |f|  %>
                  
                  <%= f.input :title,label: false,collection:["Proceso de Foreclosure","Inmigracion","Otro"], default: "Procesco de Foreclosure" %>
                  <%= f.text_field :phone,placeholder: "Email" %>              
                   
                  
                  
                  <%= f.text_area :description,placeholder:"Cual es su pregunta?" %> 
                  
                  <%= f.invisible_captcha :subtitle %>  
                  <div class='text-center' id='spinner' hidden=true>
                      <div class="cp-spinner cp-flip"></div>
                      <p>Un Momento</p>  
                  </div>              
          
                  
                  <%= f.submit 'Enviar Pregunta', id: 'question-sent' %>
                  <div class="terms"><p>Yo estoy de acuerdo con los <a href="/terms">términos de servicio</a></p></div>
                <% end %>
          </div>
        </div>
      </sidebar>
    </div>
  </section>

  <section class="more-help">
    <div class="wrapper">
      <span>Tienes más preguntas?</span>
      <a href="tel:973-440-8037" class="button blue phone">Llámanos, completamente grátis!</a>
    </div>
  </section>

  <script type="text/javascript">
    $('#question-sent').on('click',function(e){
      $('#spinner').show();
    })
  </script>


  <!-- CONTENT -->