<%= render partial: "layouts/navigation" %>
<div class="content internal">
  <section>
    <div class="wrapper w768">
      <h1><%= @article.title %></h1>
      <% if @article.video %>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= @article.video_field %>"></iframe>
        </div><br><br> 
      <% end %>
      <% if @article.image_body_boo %>
        <div class="row">
          <img  class='img-responsive col-md-8 col-md-offset-2' src="<%= @article.image_body_field %>">
        </div><br><br> 
      <% end %>
      <%= simple_format @article.body %>
      

      

      <div class="about-author">
        <div class='image'>
        <img src='http://images.huffingtonpost.com/2015-07-17-1437155465-1424656-SteveJobs.jpg'>
        </div>
        <div class="text">
          <span class="title">Sobre el autor</span>
          <span class="name"><%= @article.author %></span>
          <span><%=@article.updated_at.strftime("%m/%d/%Y") %></span>
          <p><%=@article.about %></p>
        </div>
      </div>

    </div>
  </section>
</div><!-- CONTENT END-->





