  <section>
    <div class="wrapper w768 article-wrap cropped">
      <h1><%= @article.title %></h1>
      <% if @article.video %>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= @article.video_field %>"></iframe>
        </div><br><br>
      <% end %>
      <% if @article.image_body_boo %>
        <div class="row">
          <img  class='img-responsive col-md-8 col-md-offset-2' src="<%= @article.image_body_field %>">
        </div><br><br>
      <% end %>
      <%= simple_format @article.body %>
       <div>
         <h3>Den nos un like en Facebook.</h3>
       <div class="fb-like" data-href="https://www.facebook.com/abogadazo" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      <div class="about-author">
        <div>

        </div>
        <!--<img class='image'src='https://diego-blog.s3.amazonaws.com/uploads/bootsy/image/7/picture_for_blog.jpg'>-->
        <div class="text">
          <span class="title">Sobre el autor</span>
          <span class="name"><%= @article.author %></span>
          <span><%=@article.updated_at.strftime("%m/%d/%Y") %></span>
          <p><%=@article.about %></p>
        </div>
      </div>


     


    </div>

  </section>

  <div class="article-actions">
      <a class="showmore">Ver más</a>
      <a class="call" href="tel:973-440-8037">Lláme Grátis</a>
  </div>

  <section class="bloghome"> <!--DESTACADO SECTION -->
    <div class="wrapper">
      <h1>Destacados</h1>
      <div class="thumbnails">
        <%= render partial: "useful/recarticles",locals: {articles: @articles} %>
      </div>
    </div>
  </section>


</div> <!-- CONTENT END-->





