<div class="content internal">
				<section>
					<div class="wrapper">
						<div class="forms">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
               
							<div class="left">
								<h2>Crear cuenta</h2>
								<span class="subtitle">Con esta información básica puedes crear tu cuenta.</span>
								<fieldset class="inline">
									<label>Primer Nombre</label>
                  <%= f.text_field :first_name, required: true, autofocus: true %>
								</fieldset>
								<fieldset class="inline mr0">
									<label>Segundo Nombre</label>
                  <%= f.text_field :last_name, required: true, autofocus: true %>
								</fieldset>
								<fieldset>
									<label>Email</label>
                  <%= f.email_field :email, required: true, autofocus: true %>
								</fieldset>
								<fieldset class="inline">
									<label>Contraseña</label>
                  <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
								</fieldset>
								<fieldset class="inline mr0">
									<label>Confirmar Contraseña</label>
                  <%= f.password_field :password_confirmation, required: true %>
								</fieldset>
								
								<fieldset class="actions">
                  <%= f.submit "Sign up", class: 'blue button' %>
									<a href="/accounts/password/new">Recuperar contraseña</a>
								</fieldset>
							</div>
              <% end %>
							<div class="right">
								<h2>Crea tu cuenta utilizando tus redes sociales</h2>
								<span class="subtitle">Ágil y rápido.</span>
								<div class="fblogin">
                  <%= link_to account_omniauth_authorize_path(:facebook),:class => 'button blue btn-lg btn-social btn-facebook' do %>
                 <div class='fa fa-facebook'></div> Login con Facebook
                <% end %>
                </div>
								<h2>Ya tienes una cuenta?</h2>
								<span class="subtitle">Entra a tu cuenta</span>
								<a href="/accounts/sign_in" class="button blue">Entrar a mi cuenta</a>
							</div>
						</div>
						
					</div>
				</section>
			</div><!-- CONTENT END-->









