<section class="fold-cta">
				<div class="wrapper">
					<div class="video">
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/pQSTz8H-nhU" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="cta">
						<a href="#" class="call">
							<span class="title">Llamar</span>
							<span class="copy">Completamente grátis al número <b>973-440-8037</b></span>
						</a>
						<a href="#" class="question">
							<span class="title">Ház tu pregunta</span>
							<span class="copy">Te podemos ayudar de una manera más directa.</span>
						</a>
						<a href="#" class="articles">
							<span class="title">Más articulos</span>
							<span class="copy">Ayuda legal más fácil y en nuestro idioma.</span>
						</a>
					</div>
				</div>
			</section>
			<!-- CONTENT -->
			<section class="legal-topics">
				<div class="wrapper">
					<h1>Áreas Legales</h1>
					<ul class="topics">
						<li>
							<a href="/articles/?q=inmigración">
								<span class="icon imigration"></span>
								<span class="text">Imigración</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon imigration"></span>
								<span class="text">Imigración</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon imigration"></span>
								<span class="text">Imigración</span>
							</a>
						</li>
					</ul>
				</div>
			</section>

			<section class="articles">
				<div class="wrapper">
					<h1>Noticias de Interés - <b>Artículos</b></h1>
					<div class="colum-thumbs">
					<% @articles.each do |article| %>
						<article class="thumb">
							<img src="<%= article.image_body_field %>" alt="">
							<h2><%= article.title %></h2>
							<p><%= truncate(strip_tags(article.body),length: 100) %></p>
							<%= link_to "Ver más", article_path(article), class: 'button blue' %>
							
						</article>
					<% end %>
						
						<div class="thumb tag-system">
							<h2>Buscabas otro tema?</h2>							
								<div class="tags">
								<% @tags.each do |tag| %>
									<a href="/articles/?q=<%= tag.name %>"><%= tag.name %></a>
								<% end %>
								</div>							
							<span class="clearfix"></span>
							<a href="/articles" class="readmore">Ver más articulos</a>
						</div>
					</div>
				</div>
			</section>
			
			<div class="map-location">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-5xSNRJBwhL7-Z_IgcA5lWvgKe8PiXtg&q=550+Broad+St+Newark+NJ" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
	
				<div class="locations">
					<h2>Nuestras Oficinas</h2>
					<div class="mod">
						<h2>Newark, NJ</h2>
						<span>550 Broad St.</span>
						<span>Piso 15</span>
					</div>
					<div class="mod" style="margin-top: 30px;">
						<h2>Clifton, NJ</h2>
						<span>1555 Main Ave.</span>
						
					</div>
				</div>
			</div>