<header>
				<div class="vcenter">
					<div class="wrapper">
						<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/logo_white.png" class="logo">
						<span class="mobile">Navegación</span>
						<nav class="navigation">
							<a href="/about">Quiénes somos</a>

							<a href="/questions/new">Haz tu pregunta</a>             
              <% if account_signed_in? %>

                <%= link_to "Sign Out", destroy_account_session_path, :method => :delete %>
              <% else %>
                <a href="/accounts/sign_in">Login</a>
              <% end %>
						</nav>
						<div class="left">
							<h1>Haz Preguntas a Abogados, Gratis</h1>
							<span class="caption-text">Abogadazo tiene el objetivo de cambiar como la Comunidad Latina en los Estados Unidos recibe ayuda legal. Más información juridica es la base para tomar mejores decisiones legales.</span>
							<a href="tel:862-596-2782" class="button blue gonext">Llámanos</a>
							<span class="caption-btn">Te podemos asesorar de mejor manera.</span>
						</div>
						<div class="right">
							<!-- <img src="images/misc/video.jpg"> -->
              <iframe width="514" height="290" src="https://www.youtube.com/embed/pQSTz8H-nhU" frameborder="0" allowfullscreen></iframe>

						</div>
					</div>
				</div>
			</header><!-- HEADER END-->

			<div class="content">
				<section id="ask-fold">
					<div class="wrapper">
						<div class="process">
							<div style="text-align: left;">
								<!--<span><span class="number">1</span>Llámanos</span>-->
                <span>Llámenos</span>
                <span class="copy-steps">Completamente grátis <br>al número <b>862-596-2782</b></span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/graph_llamanos.png" alt="">
							</div>
							<div style="text-align: center;">
								<!--<span><span class="number">2</span>Déjenos saber su caso</span>-->
                <span>Déjenos saber su caso</span>
                <span class="copy-steps">Cuéntenos que sucedió, con detalles y uno<br> de nuestros abogados le dirá si tiene un caso.</span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/graph_dejanossaber.png" alt="">
							</div>
							<div style="text-align: right;">
								<!--<span><span class="number">3</span>Sepa como proceder</span>-->
                <span>Sepa como proceder</span>
                <span class="copy-steps">Sabiendo si tiene un caso real,<br> uno de nuestros abogados se<br> hará cargo de su caso.</span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/graph_comoproceder.png" alt="">
							</div>
						</div>
					</div>
				</section>
        <!--
				<section class="bggrey">
					<div class="wrapper">
						<div id="tabs">
							<div class="options">
								<span id="opask" class="active">Haz tu pregunta</span>
								<span id="opfind">Encuentra un abogado</span>
								<span id="opanswers">Noticias Interesantes</span>
							</div>
							<div class="content-tab show" id="ask">

                <%= render partial: "questions/form",locals: {question:@question} %>

							</div>
							<div class="content-tab findlayer" id="find">
								<span>Encuentra un abogado local que te pueda ayudar con tus dudas judiciales.</span>
                <%= form_tag attorney_profiles_path, :method => :get, :class => 'form-group' do %>
                <fieldset>
              <%= text_field_tag :q, params[:q], :class => 'form-control', :placeholder => 'Ejemplo: Inmigracion' %>
                </fieldset>
                <fieldset>
              <%= text_field_tag :location, params[:location],:class => 'form-control',:placeholder => 'Donde Vive en New Jersey?' %>
                </fieldset>

                <%= submit_tag "Encuentra Ahora", :name => nil, :class => 'blue button' %>
              <% end %>
							</div>

							<div class="content-tab topics" id="answers">
									<ul class="articles-links">

								</ul>
							</div>

						</div>
					</div>
				</section>
        -->
        <section class="bloghome">
          <div class="wrapper">
            <h1>Articulos Destacados</h1>
            <div class="thumbnails">
              <%= render partial: "useful/recarticles",locals: {articles: @articles} %>
              <!--thumbnails -->
            </div>
            </div>
        </section>

				<section>
					<div class="wrapper">
						<div class="title">
							<h1>Nos apoyan</h1>
							<span>Contamos con el apoyo de:</span>
						</div>
						<ul class="sponsor">
							<li>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/startup.png">
							</li>
							<li>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/startup2.png">
							</li>
							<li>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/startup3.png">
							</li>
              <li>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/Manos%2BAccelerator%2Blogo.png">
							</li>

						</ul>
					</div>
				</section>
			</div><!-- CONTENT END-->

