


<section class="lawyerview">
	<div class="wrapper">
		<h1><%= @attorney.first_name %> <%= @attorney.middle_name %> <%= @attorney.last_name %></h1>
		<br>
	</div>
</section>

<section class="lawyer-detail">
	<div class="wrapper">
		<div class="left">
			<%= image_tag @attorney.profile_photo.url, class: 'image' %>
			<!--
			<div class="firm">
				<span>Firma:</span>
				<img src="images/misc/firma.png">
				<a href="#" class="button blue">Contactar Ahora</a>
			</div>
			-->
			
			<div class="contact-info">
				<span class="address"><%= @attorney.firm.address %></span>
				<span class="tel"><%= @attorney.firm.office_phone %></span>
				<span class="license">Licencia: <span class="licensetag active">Activa</span></span>
				<span><a href="tel:973-440-8037" class="button blue">Contactar Ahora</a></span>
			</div>

		</div>
		<div class="right">
			<p><%= @attorney.description %></p>
			<br>
			<div>
				<h3>Areas de Práctica:</h3>
				<ul>
					<% @attorney.law_categories.each do |category| %>
						<li><%= category.title %></li>
					<% end %>
				</ul>


			</div>
			
		</div>
	</div>


</section>