<!DOCTYPE html>
<html>

<head>
  <% if @title %>
    <title><%= @title %></title>
    <% else %>
    <title>Abogadazo.com</title>
  <% end %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render partial: 'layouts/favicon' %>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

  <%= render partial: "layouts/hotjar" %>
  <%= render partial: "layouts/fbpixel" %>
  <%= render partial: "layouts/drift" %>
  <%= render partial: "layouts/google_analytics" if Rails.env.production? %>
  <%= yield :facebook_open %>

  <%= csrf_meta_tags %>

</head>
<body>
  <div id="fb-root"></div>
  <%= render partial: 'lib/flash_notice' %>
  <%= render partial: 'layouts/navigation' %>
  
  <div class='content internal'>
      <%= yield %>
  </div>

  <%= render partial: 'lib/footer' %>
  <%= render partial: "layouts/get_site_control" %>

   <%= yield :page_specific %>


 </body>
</html>
