<!DOCTYPE html>
<html>
<head>
  <title>Abogadazo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
 
 
  
 
  <%= csrf_meta_tags %>
</head>
 
<body>
 <div class="container-fluid">
    <!---NAVBAR /-->
  <div class='row'>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>            
          </button>
          <div class='col-md-10'>
           <a class='navbar-brand'href='/'>
             <img class='img-responsive'src="//abzolive2.s3.amazonaws.com/static/media/images/more/squarespace_abogadazo_logo.png"><span style='float:right; font-weight:bold'>Beta</span>
           </a> 
         </div>
        </div><!--navbar-header-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Inicio</a></li>
            <li><a href="/articles">Información legal</a></li>
            <li><a href="/questions/new">Haz tu pregunta</a></li>            
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   <!-- navbar -->
 </div>
       <% if flash[:notice] %>
        <div class="alert alert-success" align='center'>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
           Gracias!
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger" align='center'>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
           Hubo un error. Por favor, inténtalo de nuevo.
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
   <% elsif flash[:message] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:message] %>
        </div>
      <% end %>

    <%= yield %>
  
   
    <div class='row'>
         <footer id='footer'>
           <div class='container' >
             <div class='col-md-4'>
                 <h4 style='color:white;font-weight:lighter'>Sobre Nosotros</h4>
               <p style='color:white'>Abogadazo es una empresa web dedicada a hacer la información legal más accesible a la comunidad Latina en los Estados Unidos. Estamos ubicados en el corazón de Silicon Alley - en la ciudad de Nueva York.</p>
                 <img style='float:right'src='http://s3.amazonaws.com/abzolive1/static/logos/miny.png'>
                 &copy Abogadazo, all rights reserved Diego Lafuente, 2015
             </div>
             <div style='color:white'class="col-md-4 pull-right">
                <h4>Useful Links</h4>
                 <ul class="list-unstyled">
                   <li><a href="#">Privacy Policy</a></li>
                   <li><a href="#">Terms of Service</a></li>
                   <li><a href="#">Frequently Asked Questions</a></li>
                 </ul>
             </div>

           </div>

         </footer>
   </div>

<script>

  $(document).ready(function() {

   var docHeight = $(window).height();
   var footerHeight = $('#footer').height();
   var footerTop = $('#footer').position().top + footerHeight;

   if (footerTop < docHeight) {
    $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
   }
  });
 </script>


     
    
</div><!-- container fluid -->
 

</body>
  
</html>
