<!DOCTYPE html>
<html>
<head>
  <title>Abogadazo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
  
 
  <%= csrf_meta_tags %>
</head>
 
<body>
 <!---NAVBAR /-->
  <div class="navbar">

        <div class="container">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <i class="icon-align-justify"></i>
                  </button>
                 <div >
                <a class='navbar-brand'href='/'><img class='img-responsive'src="//abzolive2.s3.amazonaws.com/static/media/images/more/squarespace_abogadazo_logo.png"></a> 
                  </div>
            </div>
            
             
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">                            
                                                
                      
                        
                    </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
  


</body>
  
</html>
